
html {

    height: 100%;
}

body{

    height: 100%;
    background: rgb(112, 161, 161);
    background: linear-gradient(135deg, rgb(123, 157, 157) 23%, rgb(76, 98, 98) 100%); 
   
}

div{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-indent: 5ex;
    color: rgb(24, 24, 24)

    
}



h1{
    font-size: x-large;
    color: rgb(20, 22, 21);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.dialogo {
    font-style: oblique;
}

footer {
        margin-top: 30px;
    
}

main{

    margin-bottom: 70px;
}

iframe { margin: auto;
padding: auto;}


image { margin: auto;
 
}

footer{
    position: relative; 
    top: 25px; 
    float: left; 
    width: 140px; 
    height: 50px; 
    margin: 5px;
    
}