
html {

    height: 100%;
}

body{

    height: 100%;
    background: rgb(220.9,226.4,221.7);
    background: linear-gradient(95deg, rgb(110, 116, 111) 23%, rgb(125, 188, 188) 100%); 

}

div{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-indent: 5ex;
    color: rgb(24, 24, 24)

    
    
}





h1{
    font-size: x-large;
    color: rgb(20, 22, 21);
}