@font-face {
  font-family: MyLato;
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: MyLatoLight;
  src: url(../fonts/Lato-Light.ttf);
}

body{
  background-color: rgb(77, 76, 76);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #000000;
  padding: 1rem;
  font-family: MyLato;
}

/*=========================Escritorio=========================*/
/*MAS DE 700 PX PASA A DESKTOP*/
@media   (min-width: 699px) {
  .cards_item {
    width: 33.3333%;
  }
  /* Oculta botón de abrir o cerrar */
  .nav__button,
  .header__button-nav--open {
    display: none;
  }

  /* Adapta el nav en horizontal */
  .nav__ul {
    display: flex;
    list-style: none;
    padding: 0;
    color: white; 
  }

  .nav__link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    transition: 0.5s; 
    
  }

  .nav__link:hover {
    opacity: 0.5;
  }

.fila{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 450px;
   
  background-color: rgb(0, 0, 0);
}
.columna{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  height: 80%;
  background-color: rgb(0, 0, 0);
  margin: 1%;
  flex-direction: column;
  
}


.imagenPortada{
  width:50%;
 
}
.textoPortada{
  color: white;
  font-family: MyLatoLight;
  font-size: 32px;
  text-align: center;
}

.divSuscribir{
display: flex;
align-items: center;
justify-content: center;
margin-top: 128px;
background-color: black;

}
.cta{
  border-radius: 8px;
  align-items: center;
  background-color: rgb(200, 200, 200);
  border: 2px solid #000;
  box-sizing: border-box;
  color: rgb(42, 42, 42);
  cursor: pointer;
  display: inline-flex;
  fill: rgb(0, 0, 0);
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 32px;
/* CSS */
}

.cta:focus {
  color: #0a2c63;
}

.cta:hover {
  border-color: rgb(97, 97, 97);
  color: rgb(42, 56, 78);
  fill:rgb(41, 57, 81);
}

.cta:active {
  border-color: rgb(110, 110, 110);
  color: rgb(80, 128, 199);
  fill: rgb(65, 118, 197);
}

}



.central{
  width: 100%;
  height: 100px;
  background-color: #393939;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.central_img{
  width: 64px;
  
}
/*Comienzan las cards*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.main{
  max-width: 1000px;
  margin: 0 auto;
 
 
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

img {
height: auto;
max-width: 100%;
vertical-align: middle;
}

.btn {
color: #ffffff;
padding: 0.8rem;
font-size: 14px;
text-transform: uppercase;
border-radius: 4px;
font-weight: 400;
display: block;
width: 100%;
cursor: pointer;
border: 1px solid rgba(255, 255, 255, 0.2);
background: transparent;
}

.btn:hover {
background-color: rgba(255, 255, 255, 0.12);
}

.cards {
display: flex;/*

list-style: none;*/
flex-wrap: wrap;
margin: 0;
padding: 0;
}

.cards_item {
display: flex;
padding: 1rem;
}
/*Se acomodan de a 2 filas
@media (min-width: 640px) {
.cards_item {
  width: 50%;}









}
*/



/*se acomodan de a 3 filas*/
@media (min-width: 800px) {

}




.card {
background-color: rgb(252, 252, 252);
border-radius: 0.25rem;
box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
display: flex;
flex-direction: column;
overflow: hidden;
}

.card_content {
padding: 1rem;
background: linear-gradient(to bottom left, #38303141 40%, #1a2632 100%);
}

.card_title {
color: #ffffff;
font-size: 1.1rem;
font-weight: 700;
letter-spacing: 1px;
text-transform: capitalize;
margin: 0px;
}

.card_text {
color: #ffffff;
font-size: 0.875rem;
line-height: 1.5;
margin-bottom: 1.25rem;    
font-weight: 400;
}
.made_by{
font-weight: 400;
font-size: 13px;
margin-top: 35px;
text-align: center;
}
/*Fin de las cards*/
 

/*footer*/ 
 
.footer{
width: 100%;
height: 200px;
margin-top: 256px;
 
display: flex;
justify-content: center;
align-items: center;
color: white;
font-family: MyLatoLight;
font-size: 22px;
text-align: center;
}
 
 .footer_seccion{  
width: 33%;
height: 100%;
margin: 4px;
background-color: rgb(0, 0, 0);
justify-content: left;
text-align: left;
 
 
 } 


 .footer_titulos{
  font-size: 20px;

}
.footer_icon{
  width: 10%;
  margin: 8px;
}

.lista{
  font-size: 16px;
  list-style:none;
  font-family: MyLato;
  
}
.redes{
  width: 70%;
}




/*footer*/
/*=========================Escritorio=========================*/
 

/*=========================Tablet=============================*/

@media (max-width: 698px) and (min-width: 500px)
 
{

  .cards_item {
    width: 50%;}


/* Oculta botón de abrir o cerrar */
.nav__button,
.header__button-nav--open {
  display: none;
}

/* Adapta el nav en horizontal */
.nav__ul {
  display: flex;
  list-style: none;
  padding: 0;
  color: white; 
}

.nav__link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
  transition: 0.5s; 
  
}

.nav__link:hover {
  opacity: 0.5;
}

.fila{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 400px;
margin-top: 100px; 
background-color: rgb(0, 0, 0);
}
.columna{
display: flex;
align-items: center;
justify-content: center;
width: 48%;
height: 80%;
background-color: rgb(0, 0, 0);
margin: 1%;
flex-direction: column;

}


.imagenPortada{
width:70%;

}
.textoPortada{
color: white;
font-family: MyLatoLight;
font-size: 20px;
text-align: center;
}

.divSuscribir{
display: flex;
align-items: center;
justify-content: center;
margin-top: 128px;
background-color: black;

}
.cta{
border-radius: 8px;
align-items: center;
background-color: rgb(200, 200, 200);
border: 2px solid #000;
box-sizing: border-box;
color: rgb(42, 42, 42);
cursor: pointer;
display: inline-flex;
fill: rgb(0, 0, 0);
font-family: Inter,sans-serif;
font-size: 14px;
font-weight: 600;
height: 32px;
justify-content: center;
letter-spacing: -.8px;
line-height: 24px;
min-width: 110px;
outline: 0;
padding: 0 17px;
text-align: center;
text-decoration: none;
transition: all .3s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
margin-top: 32px;
/* CSS */
}

.cta:focus {
color: #0a2c63;
}

.cta:hover {
border-color: rgb(97, 97, 97);
color: rgb(42, 56, 78);
fill:rgb(41, 57, 81);
}

.cta:active {
border-color: rgb(110, 110, 110);
color: rgb(80, 128, 199);
fill: rgb(65, 118, 197);
}





.central{
width: 100%;
height: 100px;
background-color: #393939;
color: white;
display: flex;
align-items: center;
justify-content: center;

}
.central_img{
width: 64px;

}











  /**/  
}









/* Estilos móvil/celular */
@media  (max-width: 499px) {



  .cards_item {
    width: 100%;}


  
.textoPortada{
  color: white;
  font-family: MyLatoLight;
  font-size: 12px;
  text-align: center;
}

  /* Oculta el nav en la parte izquiera */
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(42, 42, 42);
    transform: translateX(-100vw);
    transition: 0.5s;
    color: white;
  }

  /* Muestra el nav */
  .nav--show {
    transform: translateX(0);
  }

  .nav__button {
    text-align: right;
    margin: 1rem;
   
  }
  
  .nav__ul {
    list-style: none;
    padding: 0;
    margin: 0;
     
  }

  .nav__link {
    display: block;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  .header__button-nav--open{
    background-color: rgb(115, 115, 115);
    border-radius: 8px;
    color: white;
  }
  .header__button-nav--close{
    background-color: rgb(115, 115, 115);
    border-radius: 8px;
    color: white;
  }




  .fila{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 450px;
    background-color: rgb(135, 235, 168);
    margin-top: 64px;
  }
  .columna{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
    width: 48%;
    height: 80%;
    background-color: blueviolet;
  
  }




  .fila{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    margin-top: 100px; 
    background-color: rgb(69, 160, 74);
    }
    .columna{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    background-color: rgb(0, 0, 0);
    margin: 1%;
    flex-direction: column;
    
    }
    
    
    .imagenPortada{
    width:70%;
    
    }
    .textoPortada{
    width: 70%;
    color: white;
    font-family: MyLatoLight;
    font-size: 16px;
    text-align: center;
    }
    
    .divSuscribir{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 128px;
    background-color: black;
    
    }
    .cta{
    border-radius: 8px;
    align-items: center;
    background-color: rgb(200, 200, 200);
    border: 2px solid #000;
    box-sizing: border-box;
    color: rgb(42, 42, 42);
    cursor: pointer;
    display: inline-flex;
    fill: rgb(0, 0, 0);
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 32px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 110px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 32px;
    /* CSS */
    }
    
    .cta:focus {
    color: #0a2c63;
    }
    
    .cta:hover {
    border-color: rgb(97, 97, 97);
    color: rgb(42, 56, 78);
    fill:rgb(41, 57, 81);
    }
    
    .cta:active {
    border-color: rgb(110, 110, 110);
    color: rgb(80, 128, 199);
    fill: rgb(65, 118, 197);
    }
    
    
    
    
   
    
    
    
































  


}