html {

    height: 100%;
}

body{

    height: 100%;
    background: rgb(55, 67, 67);
    background: linear-gradient(135deg, rgb(55, 67, 67) 23%, rgb(25, 31, 31) 100%); 

}



h1{
    font-size: x-large;
    color: rgb(222, 228, 225);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


iframe, image  { margin-top: 50px;
    margin-bottom: 30px;


}


footer {
    position: relative; 
    top: 25px; 
    float: left; 
    width: 140px; 
    height: 50px; 
    margin: 5px;
    
}