html {

    height: 100%;
}

body{

    height: 100%;
    background: rgb(152, 17, 34);
    background: linear-gradient(135deg, rgb(152, 24, 41) 23%, rgb(75, 3, 12) 100%); 

}

        

h1{
    font-size: x-large;
    color: rgb(222, 228, 225);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


