html {

    height: 100%;
}

body{

    height: 100%;
    background: rgb(49, 50, 50);
    background: linear-gradient(135deg, rgb(58, 61, 60) 23%, rgb(96, 97, 93) 100%); 

}

div{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(24, 24, 24)
    
    
}

h1{
    font-size: x-large;
    color: rgb(20, 22, 21);
}


p{
    text-indent: 5ex;

}

footer{
    position: relative; 
    top: 25px; 
    float: left; 
    width: 140px; 
    height: 50px; 
    margin: 5px;
    
}

iframe  { margin-top: 50px;
    margin-bottom: 30px;
}

