html {

    height: 100%;
}

body{

    height: 100%;
    background: rgb(69, 12, 19);
    background: linear-gradient(135deg, rgb(96, 33, 39) 23%, rgb(60, 11, 16) 100%); 

}

div{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(225, 218, 218)
    
    
}

h1{
    font-size: x-large;
    color: rgb(225, 218, 218)
}


